$headings-font-family: Italiana, system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

// $font-size-base: 0.9rem;

$enable-responsive-font-sizes: true;

$headings-font-weight: 700 !default;
$headings-line-height: 1.3;

// Colors
$primary: #4f8a8b;
$secondary: #e36b4e;
$tertiary: #ffc157;
$dark: #2d2d35;
$basic: #f1edea;

$theme-colors: (
  "tertiary": $tertiary,
);

$body-color: #2d2d35;
$headings-color: #2d2d35;

// General spacing
$spacer: 3rem;

// Radius
$border-radius: 1.25rem;
$border-radius-lg: 1.5rem;

// Buttons
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 2rem;
$input-btn-padding-y-lg: 0.65rem;
$input-btn-padding-x-lg: 2.25rem;

// Navbar
$navbar-light-color: $dark;
$navbar-nav-link-padding-x: $spacer / 3;

// Modal
$modal-dialog-margin: 0px;

// $box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

@import "bootstrap/scss/bootstrap.scss";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .position#{$infix}-absolute {
      position: absolute !important;
    }
  }
}

// html {
//   scroll-behavior: smooth;
// }

.jumbotron {
  background-color: $basic;
}

// forms
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: $basic;

  &:focus {
    background-color: $light;
  }
}

.badge {
  transition: background-color 200ms ease-out;
}

.badge.active {
  background-color: $primary;
  color: $white !important;
}

.app-scroll-nav {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.app-item .list-group-item-action {
  &:focus {
    background-color: $white;
  }
}

.app-item-thumb {
  width: 80px;
  height: 80px;
  border: 1px solid $gray-100;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bottom-sheet-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  z-index: $zindex-modal-backdrop;
}

.bottom-sheet {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: $zindex-modal;
}
